.card{
    box-shadow: 5px 5px 5px rgba(86, 120, 161, 0.353);
    background-color: floralwhite;
    color: white;
    align-items: center;

    >img{
        border-radius: 100px;
        width: 50%;
        height: 40%;
        box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.062),
        0 0 0 2px white,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.062);
    
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__title{
            font-size: 20px;
        }
        &__text{
            font-size: 15px;
        }
    }
}